{
  "plugins": [
    [
      "relay",
      {
        "artifactDirectory": "./src/main/web-frontend/__generated__"
      }
    ]
  ],
  "presets": [
    ["@babel/preset-env",
      {
        "modules": "commonjs"
      }],
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ]
}